<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <!-- header  -->
  <header class="mb-3">
    <nav>
      <ul>
        <li><a href="{% url 'tweets:home' %}">Twitter Clone</a></li>
      </ul>
    </nav>
    {% if user.is_authenticated %}
    <nav>
      <ul>
        <li><a href="{% url 'accounts:logout' %}">LogOut</a></li>
      </ul>
    </nav>

    <h3><a href="{% url 'tweets:create' %}">Tweetする</a></h3>
    {% else %}
    <nav>
      <ul>
        <li><a href="{% url 'accounts:signup' %}">SignUp</a></li>
        <li><a href="{% url 'accounts:login' %}">LogIn</a></li>
      </ul>
    </nav>
    {% endif %}
  </header>
  <!-- /header  -->

  <!-- main  -->
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <!-- /main  -->
</body>

</html>
