<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <ul>
    <li>
      <a href="{% url 'tweets:home' %}">Twitter Clone</a>
    </li>
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'accounts:logout' %}">LogOut</a>
    </li>
    {% else %}
    <li>
      <a href="{% url 'accounts:signup' %}">SignUp</a>
    </li>
    <li>
      <a href="{% url 'accounts:login' %}">LogIn</a>
    </li>
    {% endif %}
  </ul>
  {% block content %}
  {% endblock %}
</body>

</html>
